{% if admin.hasroute('history') and admin.id(object) and admin.isGranted('EDIT', object) %}
    <a class="btn btn-default sonata-action-element" href="{{ admin.generateObjectUrl('history', object) }}">
        <i class="fa fa-archive"></i>
        {{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}</a>
{% endif %}