{% if (admin.hasRoute('create') and admin.isGranted('EDIT', admin.subject)) %}
    <a class="btn btn-success sonata-action-element" href="{{ admin.generateUrl('create', {'parentId': admin.subject.id}) }}">
        <i class="fa fa-plus"></i>&nbsp;
        {{ 'link_action_create_subpage'|trans({}, 'SymbioOrangeGatePageBundle') }}</a>
{% endif %}
