.sonata-bc .navbar-search {
	margin-right: 30px;
}

.sonata-bc h2 {
	margin: 0 0 10px 0;
}

.right-side > .content-header {
	padding-bottom: 10px;
}

.right-side > .content-actions {
	padding: 20px 15px 0;
	background: #f9f9f9;
}

.box-content {
	padding-bottom: 10px;
}

.well.form-actions {
	line-height: 36px;
}

.content > .alert {
	margin-left: 0;
}

td.sonata-ba-list-label {
	text-align: left;
}

.content-actions > .nav-tabs-custom {
	margin-bottom: 0;
}

.modal .row {
	margin-left: 0;
	margin-right: 0;
}

.field-actions {
	line-height: 36px;
}

.field-short-description {
	border: none;
	/*line-height: 18px;*/
	padding: 0;
	min-width: 0;
}

.nav-tabs-custom > .nav-tabs > li {
	margin-right: 0;
}

@media (max-width: 767px) {
	.navbar-nav>li {
		float: left;
	}
	.navbar-nav>li>a>span {
		display: none;
	}
}